@import url("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0; }

.nav-bar {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 4px 0px;
  box-sizing: border-box;
  border-bottom: 1px solid #efefef; }

.link, .github-link, .logout-button {
  cursor: pointer;
  font-size: 16px;
  color: #b5b5b5; }

.link, .logout-button, .github-link {
  width: 76px;
  height: 43px;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 43px;
  display: block;
  text-decoration: none;
  overflow: hidden; }

.logout-button {
  padding-left: 10px; }

#kappa-main {
  height: 36px;
  width: auto;
  margin-left: 20px;
  margin-right: 10px; }

#search-logo {
  position: relative;
  left: 5px; }

#search-placeholder {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  cursor: default;
  width: 1300px;
  height: 40px;
  background: #efefef;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 20px; }

.active {
  color: #656565;
  font-weight: 500; }

#search-placeholder input {
  background: transparent;
  border: none;
  font-size: 16px;
  text-align: left;
  height: 40px;
  width: 100%;
  padding-left: 15px;
  outline: none;
  box-sizing: border-box; }

#search-placeholder ::placeholder {
  color: #888888;
  font-weight: 500; }

#search-placeholder .search-logo-container {
  display: flex;
  background: none; }

.logo-container {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center; }

.discover-link:hover, .github-link:hover, .link:hover,
.profile-link:hover, .logout-button:hover {
  background: #efefef;
  border-radius: 25px; }

.search-focus {
  border: 4px solid #8ebffd; }

.profile-icon, .nav-user-avatar {
  height: 24px;
  width: 24px;
  position: relative;
  top: 5px;
  border-radius: 24px;
  margin-right: 2px; }

.github-logo {
  height: 24px;
  width: 24px;
  position: relative;
  top: 5px; }

.game-list {
  margin-top: 12px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 7px;
  position: relative; }

.game-cover-art {
  width: 240px;
  height: 315px;
  border-radius: 8px;
  animation: appear 1.5s 1; }

@keyframes appear {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }
.game-list-item {
  display: inline-block;
  padding: 24px 12px; }

.game-cover-art:hover {
  transform: scale(1.05);
  transition: transform .5s, box-shadow .5s;
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.5), 0px 2px 2px -2px rgba(0, 0, 0, 0.05), 0px 1px 4px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  cursor: zoom-in; }

.game-discover-page {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.games-index-content {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 64px; }

.darken {
  filter: brightness(60%);
  transition: filter 1s; }

.content, .game-show-page, .game-show-content {
  background: #efefef;
  min-height: 100vh;
  width: 100vw; }

.game-show-content {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 35px 0px 200px 0px; }

.game-show-container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  width: 1000px;
  background: white;
  justify: center;
  border-radius: 10px; }

.game-show-image {
  box-sizing: border-box;
  width: 285px;
  height: 380px; }

.game-show-description {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #555555; }

.game-show-title {
  width: 100%;
  color: #555555;
  font-size: 40px;
  font-weight: 500;
  cursor: pointer;
  height: 30px;
  margin-bottom: 24px; }

.review-form {
  height: 280px;
  box-sizing: border-box;
  border: 1px solid black; }

.game-details {
  width: 601px;
  margin-left: 10px;
  height: 380px;
  box-sizing: border-box; }

.game-stats {
  height: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row; }

.game-stats-left, .game-stats-right {
  height: 100px;
  width: 50%;
  display: flex;
  flex-flow: row wrap; }

.game-score, .game-release-date,
.game-genres, .game-rating {
  height: 50%;
  width: 100%; }

.game-release-date-label, .game-genres-label,
.game-rating-label {
  color: #555555;
  font-weight: bold;
  margin-right: 5px; }

.game-show-image {
  border-radius: 8px; }

.game-show-image, .game-show-description {
  display: inline-block; }

.game-show-image, .game-show-description,
.game-show-title, .review-form, .game-reviews,
.reviews-header, .reviews-list {
  box-sizing: border-box; }

.container-content, .container-links {
  width: 1100px;
  box-sizing: border-box; }

.container-content {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start; }

.container-links {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  height: 75px;
  padding: 16px 0px; }

.home-icon {
  align-self: flex-start;
  justify: flex-start;
  margin-left: 8px;
  position: relative;
  top: 8px; }

.home-button {
  display: flex;
  box-sizing: border-box;
  width: 88px;
  height: 44px;
  padding: 4px;
  overflow: hidden;
  color: #555555;
  font-weight: 600;
  position: absolute;
  top: 25px;
  left: 25px;
  margin-right: 50px;
  align-items: center;
  justify-content: space-around;
  text-decoration: none; }

.game-reviews {
  width: 1100px;
  box-sizing: border-box; }

.review-header {
  height: 80px;
  line-height: 80px;
  font-size: 21px;
  font-weight: 500;
  color: #555555;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef; }

.home-button:hover {
  background: #d8d8d8;
  border-radius: 20px;
  cursor: pointer; }

.game-reviews, .container-content,
.container-links, .game-show-title,
.game-show-description, .review-header,
.reviews-list {
  width: 900px; }

.send-button, .favorite-button {
  box-sizing: border-box;
  padding: 8px;
  height: 43px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer; }

.send-button {
  background: #efefef;
  color: #555555;
  width: 86px;
  font-weight: 700;
  text-align: center; }

.favorite-button {
  background: #6441a5;
  margin-left: 15px;
  color: white;
  width: 115px;
  outline: none; }

.favorite-button:active {
  box-shadow: 0 0 5px #131111; }

.send-button:hover {
  background: #d8d8d8; }

.favorite-button:hover {
  background: #7d5bbe; }

.send-icon {
  position: relative;
  top: 2px;
  margin-right: 2px; }

.favorite-icon {
  height: 18px;
  width: 18px;
  position: relative;
  top: 3px; }

.full-star, .half-star, .empty-star {
  height: 18px;
  width: 18px;
  position: relative;
  top: 3px;
  margin-right: 1px; }

.game-score svg:last-of-type {
  margin-right: 5px; }

.game-score, .game-release-date,
.game-genres, .game-rating {
  color: #555555; }

.genre-tag {
  color: white;
  background: #6441a5;
  width: auto;
  padding: 4px;
  font-size: 12px;
  font-weight: 400; }

.genre-tag:not(:last-of-type) {
  margin-right: 5px; }

.review-top {
  display: flex;
  justify-content: space-between; }

.amazon-link, .steam-link, .download-link {
  cursor: pointer; }

.amazon-link {
  width: 100px;
  height: 50px;
  background: white;
  position: relative;
  right: 212px; }

.steam-link {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  position: relative;
  right: 202px;
  top: 3px; }

.download-icon {
  height: 18px;
  width: 18px;
  position: relative;
  top: 4px; }

.download-link {
  background: #6441a5;
  color: white;
  height: 43px;
  width: 112px;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px;
  position: relative;
  right: 191px;
  top: 4px; }

.download-link:hover {
  background: #7d5bbe; }

.review-form-rating > input {
  display: none; }

.review-form-rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005"; }

.review-form-rating > .half:before {
  content: "\f089";
  position: absolute; }

.review-form-rating > label {
  color: #888888;
  float: right; }

/***** CSS Magic to Highlight Stars on Hover *****/
.container-content .game-details {
  /* hover previous stars in list */ }
  .container-content .game-details .review-form-rating > label.checked,
  .container-content .game-details .review-form-rating:not(:checked) > label:hover,
  .container-content .game-details .review-form-rating:not(:checked) > label.checked ~ label,
  .container-content .game-details .review-form-rating:not(:checked) > label:hover ~ label {
    color: #6441a5;
    transition: color .5s; }
  .container-content .game-details .review-form-rating > label.checked + label:hover,
  .container-content .game-details .review-form-rating > label.checked ~ label:hover,
  .container-content .game-details .review-form-rating > label:hover ~ label.checked ~ label,
  .container-content .game-details .review-form-rating > label:hover ~ label.checked,
  .container-content .game-details .review-form-rating > label.checked ~ label:hover ~ label {
    color: #7d5bbe; }

.game-review-item {
  /* hover previous stars in list */ }
  .game-review-item .review-form-rating > label.checked,
  .game-review-item .review-form-rating:not(:checked) > label:hover,
  .game-review-item .review-form-rating:not(:checked) > label.checked ~ label,
  .game-review-item .review-form-rating:not(:checked) > label:hover ~ label {
    color: #6441a5; }
  .game-review-item .review-form-rating > label.checked + label:hover,
  .game-review-item .review-form-rating > label.checked ~ label:hover,
  .game-review-item .review-form-rating > label:hover ~ label.checked ~ label,
  .game-review-item .review-form-rating > label:hover ~ label.checked,
  .game-review-item .review-form-rating > label.checked ~ label:hover ~ label {
    color: #7d5bbe; }

.review-form-rating span {
  display: block;
  height: 20px;
  width: 20px; }

.review-form-body {
  height: 170px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #888888;
  border-radius: 8px;
  font-size: 20px;
  color: #555555; }

.review-form-body::placeholder {
  font-size: 20px; }

.review-form-body:focus {
  outline: none !important;
  border: 2px solid #6441a5;
  box-shadow: 0 0 10px #555555; }

.review-form-rating {
  height: 35px;
  width: 150px;
  position: relative;
  left: -10px; }

.game-reviews-list {
  list-style: none; }

.review-info {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px; }

.review-info-left {
  display: flex;
  flex-direction: row;
  color: #888888;
  font-size: 16px; }

.review-info-username {
  padding-right: 5px;
  font-size: 16px;
  color: #555555;
  font-weight: bold;
  cursor: pointer; }

.review-info-avatar {
  cursor: pointer;
  height: 22px;
  width: 22px;
  border-radius: 22px;
  position: relative;
  bottom: 2px;
  margin-right: 5px; }

.review-info-date {
  color: #555555;
  font-weight: bold; }

.review-info-rating {
  padding-left: 5px; }

.review-content {
  color: #555555;
  line-height: 1.5; }

.game-reviews {
  padding-bottom: 18px; }

.review-edit-button, .review-delete-button {
  box-sizing: border-box;
  padding: 5px;
  height: 20px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  line-height: 6px;
  outline: none; }

.review-edit-button:active, .review-delete-button:active {
  box-shadow: 0 0 2px #131111; }

.review-edit-button {
  background: #6441a5;
  color: white;
  width: 35px;
  display: inline-flex; }

.review-edit-button:hover {
  background: #7d5bbe; }

.review-edit-close-button {
  width: 45px; }

.review-delete-button:hover {
  background: #7d5bbe; }

.review-delete-button {
  background: #6441a5;
  margin-left: 5px;
  color: white;
  width: 50px; }

.review-buttons {
  margin-left: 20px; }

.review-form-button {
  margin-top: 5px;
  background: #6441a5;
  color: white;
  height: 43px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: none; }

.review-form-button:active {
  box-shadow: 0 0 3px #131111; }

.review-stars-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: 3px;
  position: relative;
  bottom: 3px; }

.game-score {
  display: flex;
  flex-direction: row; }

.game-score-number {
  position: relative;
  color: #555555;
  margin-left: 5px; }

.review-form-container h3 {
  font-weight: bold;
  color: #555555;
  font-size: 22px; }

#search-results-container {
  width: 100%;
  background: white;
  position: absolute;
  border-radius: 6px;
  top: 36px;
  z-index: 2; }

.search-results-list {
  list-style: none;
  padding: 10px 0px 10px 0px; }

.search-item-image {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-right: 10px; }

.search-results-item {
  height: 50px;
  box-sizing: border-box;
  padding: 5px 0px 0px 15px; }

.search-results-item:hover {
  background: #efefef;
  cursor: pointer; }

.search-item-div {
  color: #555555;
  font-weight: 500;
  line-height: 40px;
  display: flex; }

.hide-results {
  display: none; }

.user-profile-page, .user-profile-content {
  background: #efefef;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box; }

.user-profile-content {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center; }

.user-profile-info {
  height: 240px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 800px;
  margin-top: 20px; }

.user-profile-buttons {
  box-sizing: border-box;
  height: 64px;
  display: flex;
  justify-content: space-between; }

.profile-send-icon, .flag-icon {
  height: 24px;
  width: 24px;
  position: relative;
  top: 12px; }

.profile-send-icon {
  margin-right: 25px; }

.games-header {
  color: #555555;
  font-size: 28px;
  font-weight: 500;
  align-self: flex-start;
  margin-left: 444px; }

.user-message-button, .user-follow-button {
  box-sizing: border-box;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer; }

.user-follow-button {
  width: 75px;
  height: 40px;
  align-self: center;
  margin-left: 10px;
  background: #6441a5;
  color: white; }

.user-message-button {
  width: 95px;
  height: 40px;
  align-self: center;
  background: #efefef;
  color: #555555;
  font-weight: 500; }

.user-message-button:hover {
  background: #d8d8d8; }

.user-follow-button:hover {
  background: #7d5bbe; }

.user-profile-middle {
  height: 166px;
  display: flex;
  justify-content: space-between; }

.user-profile-username {
  font-size: 36px;
  font-weight: 700;
  color: #555555; }

.user-profile-reviews-favorites {
  font-size: 14px;
  font-weight: 500;
  color: #555555; }

.user-profile-middle-left {
  width: 600px;
  height: 120px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.user-profile-image {
  height: 166px;
  width: 166px; }

.user-profile-middle-right {
  border-radius: 166px;
  overflow: hidden; }

.user-profile-games {
  width: 65vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

html {
  min-height: 100vh;
  width: 100vw; }

body, #root {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  width: 100%; }

.login-form-container {
  display: flex;
  flex-direction: column; }

.session-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images3.alphacoders.com/716/716166.jpg");
  background-size: cover;
  background-repeat: repeat-x;
  animation: animate-background linear 16s infinite alternate;
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
  height: 100vh;
  transition: 4s; }

.login-form-container {
  font-size: 28px;
  color: #555555;
  font-weight: bold; }

@keyframes animate-background {
  from {
    background-position: 0px; }
  to {
    background-position: -400px; } }
.login-form-box {
  min-height: 460px;
  height: auto;
  width: 400px;
  background-color: white;
  align-self: center;
  margin-top: 100px;
  border-radius: 8px;
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.85; }

.login-form-box h3 {
  color: #cccccc;
  font-size: 18px;
  margin-bottom: 15px; }

.nav-button {
  align-self: flex-end;
  cursor: pointer;
  height: 36px;
  width: 130px;
  box-sizing: border-box;
  padding: 8px 14px;
  border-radius: 4px;
  background-color: #efefef;
  vertical-align: middle;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin: 40px 25px 0px 0px;
  color: #555555; }

#kappa {
  height: 50px;
  width: 50px;
  margin: 35px 0 20px 0; }

.login-input {
  height: 40px;
  width: 268px;
  padding: 8px 14px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #b5b5b5;
  color: #555;
  font-weight: 400;
  margin-top: 10px; }

::placeholder {
  color: #b5b5b5;
  font-weight: 500; }

.session-button {
  background-color: #6441a5;
  color: white;
  box-sizing: border-box;
  width: 268px;
  height: 36px;
  margin-top: 10px;
  padding: 0 18px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400; }

#demo-login {
  margin-top: 5px; }

#or {
  margin-top: 8px;
  font-size: 12px; }

.errors-list {
  list-style: none; }

.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.error {
  font-size: 12px;
  color: #e3780c;
  font-weight: 400;
  margin-top: 5px; }

/*# sourceMappingURL=application.css.map */
