.game-list{
  // background: $white;
  margin-top: 12px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 7px;
  position: relative;
}

.game-cover-art {
  width: 240px;
  height: 315px;
  border-radius: 8px;
  // display: inline;
  animation: appear 1.5s 1;
}

@keyframes appear {
  0% {
    opacity: .1
  }
  100% {
    opacity: 1;
  }
}

.game-list-item {
  display: inline-block;
  padding: 24px 12px;
}


.game-cover-art:hover {
  transform: scale(1.05);
  transition: transform .5s, box-shadow .5s;
  box-shadow:
  2px 2px 4px -1px rgba(0,0,0,0.5),
  0px 2px 2px -2px rgba(0,0,0,0.05),
  0px 1px 4px 0 rgba(0,0,0,0.05);
  position: relative;
  cursor: zoom-in;
}

.game-discover-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.games-index-content {
  background: $white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 64px;

}

.darken {
  filter: brightness(60%);
  transition: filter 1s;
}
