$hoverpurple: #7d5bbe;

.content, .game-show-page, .game-show-content {
  background: $searchcolor;
  min-height: 100vh;
  width: 100vw;
}

.game-show-content {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 35px 0px 200px 0px;
}


.game-show-container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  width: 1000px;
  background: $white;
  justify: center;
  border-radius: 10px;
}

.game-show-image {
  box-sizing: border-box;
  width: 285px;
  height: 380px;
}


.game-show-description {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  color: $darkgrey;
}

.game-show-title {
  width: 100%;
  color: $dimgrey;
  font-size: 40px;
  font-weight: 500;
  cursor: pointer;
  height: 30px;
  margin-bottom: 24px;
}

.review-form {
  // width: 601px;
  // margin-left: 10px;
  height: 280px;
  box-sizing: border-box;
  border: 1px solid black;
}

.game-details {
  width: 601px;
  margin-left: 10px;
  height: 380px;
  box-sizing: border-box;
  // border: 1px solid black;
}

.game-stats {
  height: 100px;
  box-sizing: border-box;
  // border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.game-stats-left, .game-stats-right {
  // border: 1px solid red;
  height: 100px;
  width: 50%;
  display: flex;
  flex-flow: row wrap;
}

.game-score, .game-release-date,
.game-genres, .game-rating {
  height: 50%;
  width: 100%;
}

.game-release-date-label, .game-genres-label,
.game-rating-label {
  color: $dimgrey;
  font-weight: bold;
  margin-right: 5px;
}

.game-stats span{
  // border: 1px solid black;
}

.game-show-image {
  border-radius: 8px;
}

.game-show-image, .game-show-description {
  display: inline-block;
}
.game-show-image, .game-show-description,
.game-show-title, .review-form, .game-reviews,
.reviews-header, .reviews-list {
  // border: 2px solid black;
  box-sizing: border-box;
}

.container-content, .container-links {
  // border: 2px solid red;
  width: 1100px;
  box-sizing: border-box;
}

.container-content {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.container-links {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  height: 75px;
  padding: 16px 0px;
}

.home-icon {
  align-self: flex-start;
  justify: flex-start;
  margin-left: 8px;
  position: relative;
  top: 8px;
}

.home-button {
  display: flex;
  box-sizing: border-box;
  width: 88px;
  height: 44px;
  padding: 4px;
  overflow: hidden;
  color: $dimgrey;
  font-weight: 600;
  position: absolute;
  top: 25px;
  left: 25px;
  margin-right: 50px;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
}

.game-reviews {
  width: 1100px;
  box-sizing:border-box;
}

.review-header {
  height: 80px;
  line-height: 80px;
  font-size: 21px;
  font-weight: 500;
  color: $dimgrey;
  border-top: 1px solid $searchcolor;
  border-bottom: 1px solid $searchcolor;
}

.home-button:hover {
  background: $gainsboro;
  border-radius: 20px;
  cursor: pointer;
}

.game-reviews, .container-content,
.container-links, .game-show-title,
.game-show-description, .review-header,
.reviews-list  {
  width: 900px;
}

.send-button, .favorite-button {
  box-sizing: border-box;
  padding: 8px;
  height: 43px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.send-button {
  background: $searchcolor;
  color: $dimgrey;
  width: 86px;
  font-weight: 700;
  text-align: center;
  }

.favorite-button {
  background: $twitchpurple;
  margin-left: 15px;
  color: $white;
  width: 100px;
}

.send-button:hover {
  background: $gainsboro;
}

.favorite-button:hover {
  background: $hoverpurple;
}
.send-icon {
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.favorite-icon {
  height: 18px;
  width: 18px;
  position: relative;
  top: 3px;
}

.full-star, .half-star, .empty-star {
  height: 18px;
  width: 18px;
  position: relative;
  top: 3px;
  margin-right: 1px;
}

.game-score svg:last-of-type {
  margin-right: 5px;
}

.game-score, .game-release-date,
.game-genres, .game-rating {
  color: $darkgrey;
}

.genre-tag {
  color: $white;
  background: $twitchpurple;
  width: auto;
  padding: 4px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.genre-tag:not(:last-of-type) {
  margin-right: 5px;
}
