.content, .game-show-page, .game-show-content {
  background: $searchcolor;
  height: 100vh;
  width: 100vw;
}

.game-show-content {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 35px;
}


.game-show-container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  width: 1300px;
  background: $white;

  border-radius: 10px;
}

.game-show-image {
  box-sizing: border-box;
  width: 285px;
  height: 380px;
}

.game-show-description {
  margin-top: 16px;
  font-size: 18px;
  color: $darkgrey;
}

.game-show-title {
  width: 100%;
  color: #555555;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  height: 30px;
}

.review-form {
  width: 801px;
  margin-left: 10px;
  height: 380px;
}

.game-show-image {
  border-radius: 8px;
}

.game-show-image, .game-show-description {
  display: inline-block;
}
.game-show-image, .game-show-description,
.game-show-title, .review-form {
  border: 2px solid black;
  box-sizing: border-box;
}

.container-content, .container-links {
  border: 2px solid red;
  width: 1100px;
  box-sizing: border-box;
}

.container-content {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.container-links {
  box-sizing: border-box;
  height: 75px;
  padding: 16px 24px;
}

.home-icon {
  align-self: flex-start;
  justify: flex-start;
  margin-left: 8px;
  position: relative;
  top: 8px;
}

.home-button {
  display: flex;
  box-sizing: border-box;
  width: 96px;
  height: 44px;
  padding: 4px;
  overflow: hidden;
  color: #555555;
  font-weight: 600;
  position: relative;
  margin-right: 50px;
  align-items: center;
  justify-content: space-around;
}

.home-button:hover {
  background: #d8d8d8;
  border-radius: 20px;
  cursor: pointer;
}
