$textcolor: #b5b5b5;
$searchcolor: #efefef;
$ashgrey: #888888;
$searchborder: #8ebffd;
$activecolor: #656565;

.nav-bar {
  background: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 4px 0px;
  box-sizing: border-box;
  border-bottom: 1px solid $searchcolor;
}

.link, .github-link, .logout-button {
  cursor: pointer;
  font-size: 16px;
  color: $textcolor;
}

.link, .logout-button, .github-link {
  width: 76px;
  height: 43px;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 43px;
  display: block;
  text-decoration: none;
  overflow: hidden;
}

.logout-button {
  padding-left: 10px;
}


#kappa-main {
  height: 36px;
  width: auto;
  margin-left: 20px;
  margin-right: 10px;
}


#search-logo {
  position: relative;
  left: 5px;
}

#search-placeholder {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  cursor: default;
  width: 1300px;
  height: 40px;
  background: $searchcolor;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 20px;
}

.active {
  color: $activecolor;
  font-weight: 500;
}

#search-placeholder input {
  background: transparent;
  border: none;
  font-size: 16px;
  text-align: left;
  height: 40px;
  width: 100%;
  padding-left: 15px;
  outline: none;
  box-sizing: border-box;
}

#search-placeholder ::placeholder {
  color: $ashgrey;
  font-weight: 500;
}

#search-placeholder .search-logo-container {
  display: flex;
  background: none;
}


.logo-container {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discover-link:hover, .github-link:hover, .link:hover,
.profile-link:hover, .logout-button:hover{
  background: $searchcolor;
  border-radius: 25px;
}

.search-focus {
  border: 4px solid $searchborder;
}

.profile-icon {
  height: 24px;
  width: 24px;
  position: relative;
  top: 5px;
}
