
@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

.review-form-rating > input { display: none; }
.review-form-rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.review-form-rating > .half:before {
  content: "\f089";
  position: absolute;
}

.review-form-rating > label {
  color: $ashgrey;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
// Credit to James Barnett for this star rating logic
.container-content .game-details {
  .review-form-rating > label.checked, /* show gold star when clicked */
  .review-form-rating:not(:checked) > label:hover, /* hover current star */
  .review-form-rating:not(:checked) > label.checked ~ label,
  .review-form-rating:not(:checked) > label:hover ~ label { color: $twitchpurple; transition: color .5s;  } /* hover previous stars in list */

  .review-form-rating > label.checked + label:hover, /* hover current star when changing rating */
  .review-form-rating > label.checked ~ label:hover,
  .review-form-rating > label:hover ~ label.checked ~ label, /* lighten current selection */
  .review-form-rating > label:hover ~ label.checked, /* lighten current selection */
  .review-form-rating > label.checked ~ label:hover ~ label { color: $hoverpurple; }
}

.game-review-item  {
  .review-form-rating > label.checked, /* show gold star when clicked */
  .review-form-rating:not(:checked) > label:hover, /* hover current star */
  .review-form-rating:not(:checked) > label.checked ~ label,
  .review-form-rating:not(:checked) > label:hover ~ label { color: $twitchpurple;  } /* hover previous stars in list */

  .review-form-rating > label.checked + label:hover, /* hover current star when changing rating */
  .review-form-rating > label.checked ~ label:hover,
  .review-form-rating > label:hover ~ label.checked ~ label, /* lighten current selection */
  .review-form-rating > label:hover ~ label.checked, /* lighten current selection */
  .review-form-rating > label.checked ~ label:hover ~ label { color: $hoverpurple;  }
}

.review-form-rating span {
  display: block;
  height: 20px;
  width: 20px;
}

.review-form-body {
  height: 170px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid $ashgrey;
  border-radius: 8px;
  font-size: 20px;
  color: $dimgrey;
}

.review-form-body::placeholder {
  font-size: 20px;
}

.review-form-body:focus {
  outline: none !important;
  border: 2px solid $twitchpurple;
  box-shadow: 0 0 10px $dimgrey;
}


.review-form-rating {
  height: 35px;
  width: 150px;
  position: relative;
  left: -10px;
}

.game-reviews-list {
  list-style: none;
}

.review-info {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.review-info-left {
  display: flex;
  flex-direction: row;
  color: $ashgrey;
  font-size: 16px;
}

.review-info-username {
  padding-right: 5px;
  font-size: 16px;
  color: $dimgrey;
  font-weight: bold;
  cursor: pointer;
}

.review-info-avatar {
  cursor: pointer;
  height: 22px;
  width: 22px;
  border-radius: 22px;
  position: relative;
  bottom: 2px;
  margin-right: 5px;
}
.review-info-date {
  color: $dimgrey;
  font-weight: bold;
}
.review-info-rating {
  padding-left: 5px;
}



.review-content {
  color: $dimgrey;
  line-height: 1.5;
}

.game-reviews {
  padding-bottom: 18px;
}

.review-edit-button, .review-delete-button {
  box-sizing: border-box;
  padding: 5px;
  height: 20px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  line-height: 6px;
}

.review-edit-button {
  background: $twitchpurple;
  color: $white;
  width: 35px;
  display: inline-flex;
}

.review-edit-button:hover {
  background: $hoverpurple;
}

.review-edit-close-button {
  width: 45px;
}

.review-delete-button:hover {
  background: $hoverpurple;
}

.review-delete-button {
  background: $twitchpurple;
  margin-left: 5px;
  color: $white;
  width: 50px;
}

.review-buttons {
  margin-left: 20px;
}

.review-form-button {
  margin-top: 5px;
  background: $twitchpurple;
  color: $white;
  height: 43px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}


.review-stars-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: 3px;
  position: relative;
  bottom: 3px;

}

.game-score {
  display: flex;
  flex-direction: row;
}

.game-score-number {
  position: relative;
  color: $dimgrey;
  margin-left: 5px;
}


.review-form-container h3 {
  font-weight: bold;
  color: $dimgrey;
  font-size: 22px;
}
