.user-profile-page, .user-profile-content, 
.user-profile-info, .user-profile-buttons,
.user-message-button, .user-follow-button,
.user-profile-middle, .user-profile-middle-left,
.user-profile-middle-right, .user-profile-games {
  // border: 1px solid $twitchpurple;
}

.user-profile-page, .user-profile-content {
  background: $searchcolor;
  min-height: 100vh;
  width: 100vw;
  box-sizing:border-box;
}

.user-profile-content {
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile-info {
  height: 240px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 800px;
  margin-top: 20px;
}

.user-profile-buttons {
  box-sizing: border-box;
  height: 64px;
  display: flex;
  justify-content: space-between;
}

.profile-send-icon, .flag-icon {
  height: 24px;
  width: 24px;
  position: relative;
  top: 12px;
}

.profile-send-icon {
  margin-right: 25px;
}

.games-header {
  color: #555555;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  position: relative;
  // right: 650px;
  right: 315px;
}


.user-message-button, .user-follow-button {
  box-sizing: border-box;
  padding: 8px;
  // border: none
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.user-follow-button {
  width: 75px;
  height: 40px;
  align-self: center;
  margin-left: 10px;
  background: $twitchpurple;
  color: $white;

}

.user-message-button {
  width: 95px;
  height: 40px;
  align-self: center;
  background: $searchcolor;
  color: $dimgrey;
  font-weight: 500;
}

.user-message-button:hover {
  background: $gainsboro;
}
.user-follow-button:hover {
  background: $hoverpurple;
}

.user-profile-middle {
  height: 166px;
  display: flex;
  justify-content: space-between;
}

.user-profile-username {
  font-size: 36px;
  font-weight: 700;
  color: $dimgrey;
}

.user-profile-reviews-favorites {
  font-size: 14px;
  font-weight: 500;
  color: $dimgrey;
}

.user-profile-middle-left {
  width: 600px;
  height: 120px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-profile-image {
  height: 166px;
  width: 166px;
  left: 5px;
}

.user-profile-middle-right {
  // border: 1px solid black;
  border-radius: 166px;
  overflow: hidden;
}

.user-profile-games {
  // height: 500px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}